<%- include('partials/_head') %>
<body>
  <h1><%= challenge.title %></h1>
  <p>
    <a href="/">Back</a>
  </p>
  <p>
    <%= challenge.description %>
  </p>
  <form method="post" action="/remote/<%= challenge.id %>">
    <fieldset>
      <label for="code">Your Solution:</label>
<textarea name="code">
#!/bin/bash
# Your code here:
</textarea>
    </fieldset>
    <input type="submit" value="Submit">
  </form>
</body>
</html>

  // <h3>Example usage:</h3>
  // <code><%= challenge.example_use %></code>

  // <h3>Example output:</h3>
  // <code><%- challenge.example_output.replace(/\n/g, '<br>') %></code>
